<%- include('layouts/header.ejs') %>

<title>Thể lệ thi</title>
</head>

<body>
  <%- include('layouts/nav.ejs') %>
  <div class="container" style="margin-top: 51px; padding-top: 5px;">
    <div class="card">
      <h3 class="card-title text-center">Thể lệ cuộc thi thiết kế thời trang</h3>
      <div class="card-body">
        <div class="text-center">
          Mô tả cuộc thi một cách hết sức văn vẻ.
        </div>
        <div>
          <b>1. THỜI GIAN: </b>12/10/2020 --18/12/2020.</div>
        <div>
        <div>
         <b>Mọi công dân Việt Nam từ 18-36 tuổi (trừ các thành viên trong Ban Tổ chức, Ban Nội dung, Ban Thư ký Cuộc thi).</div>
         <div>
        <div>
          <b>2.ĐỐI TƯỢNG THAM GIA: </b>Các khách hàng được tham gia giới hạn từ 18 -> 36 tuổi.</div>
        <div>
          <b>3. CƠ CẤU GIẢI THƯỞNG:
        </div>
        <div>
          <b>.GIẢI NHẤT: </b>Số tiền được nhận 40.000.000 VND.</div>
        <div>
          <b>.GIẢI NHÌ: </b>Số tiền được nhận 15.000.000 VND.</div>
        <div>
          <b>.GIẢI BA: </b>Số tiền được nhận 5.000.000 VND.</div>
        <div>
          <b>4. THỂ LỆ CUỘC THI, HÌNH THỨC ĐĂNG KÝ VÀ CÁC THÔNG TIN LIÊN QUAN VUI LÒNG LIÊN HỆ KHOA MỸ THUẬT ỨNG DỤNG. </div>
        <div>
        <div>
          <b>5.NỘI DUNG CUỘC THI: </b>Cuộc thi tập trung vào nội dung kiến thức thời trang, kỹ năng phối hợp các màu sắc, phong cách. Đồng thời qua đó tìm kiếm tài năng trong lĩnh vực thời trang ở Việt Nam để có thể vươn tầm thế giới  </div>
        <div>
          <b>6.THÔNG BÁO KẾT QUẢ VÀ TRAO THƯỞNG: </b> Ban Thư ký Cuộc thi sẽ gửi Giấy khen và Giấy chứng nhận cho những người đoạt giải qua đường bưu điện; đồng thời gửi tiền giải thưởng qua đường bưu điện hoặc qua tài khoản cá nhân của người đoạt giải.</div>
        <div>
          <b>7.TỔ CHỨC THỰC HIỆN: </b>Cuộc thi thời trang có hiệu lực từ ngày công bố và được đăng tải trên các phương tiện thông tin đại chúng. Việc sửa đổi, điều chỉnh nội dung Thể lệ chỉ được thực hiện khi có sự đồng ý bằng văn bản của Ban Tổ chức Cuộc thi./..</div>
        <section class="footer-group">
              <h5 class="mt-20">Hỗ trợ: <a>Ban Tổ chức cuộc thi</a> - Hotline: 19006798, 08048161, 08048159</h5>
        </section>   
      </div>
      </div>
    </div>
  <%- include('layouts/footer.ejs') %>