<%- include('layouts/header.ejs') %>

<title>Thể lệ thi</title>
</head>

<body>
  <%- include('layouts/nav.ejs') %>
  <div class="container" style="margin-top: 51px; padding-top: 5px;">
    <div class="card">
      <h3 class="card-title text-center">Tiêu đề cuộc thi</h3>
      <div class="card-body">
        <div class="text-center">
          Mô tả cuộc thi một cách hết sức văn vẻ.
        </div>
        <div>
          <b>Thể lệ: </b>Phải là abc và def cũng như ghi. Tuân thủ jkl và mno thì mới được pqr.</div>
        <div>
          <b>Thời gian: </b>đầu tháng tới cuối tháng.
        </div>
        <div>
          <b>Phần thưởng: </b>niềm hân hoan và lời chúc mừng.
        </div>
      </div>
      </div>
    </div>

  <%- include('layouts/footer.ejs') %>