<%- include('layouts/header.ejs') %>

<title>Thể lệ thi</title>
</head>

<body>
  <%- include('layouts/nav.ejs') %>
  <div class="content-posts active" id="posts">
    <div class="primary-content" style="width: 100%;">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Ai là người sành điệu nhất?</h3>
        <div class="text-center">
          Tài trợ chính bởi ZARA
        </div>
        <div>
          <b>1. NỘI DUNG CUỘC THI: </b>Cuộc thi tập trung vào nội dung kiến thức thời trang, kỹ năng phối hợp các màu sắc, phong cách. Đồng thời qua đó tìm kiếm tài năng trong lĩnh vực thời trang ở Việt Nam để có thể vươn tầm thế giới.
        </div>
        <div>
          <b>2. THỜI GIAN: </b>12/10/2020 --18/12/2020.
        </div>
        <div>
          <b>3. ĐỐI TƯỢNG THAM GIA: </b>Mọi công dân Việt Nam từ 18-36 tuổi.
        </div>
        <div>
          <b>4. CƠ CẤU GIẢI THƯỞNG: </b>
        </div>
        <ul>
          <li>GIẢI NHẤT: Voucher mua hàng tại ZARA có giá trị 40.000.000 VND.</li>
          <li>GIẢI NHÌ: Voucher mua hàng tại ZARA có giá trị 15.000.000 VND.</li>
          <li>GIẢI BA: Voucher mua hàng tại ZARA có giá trị 5.000.000 VND.</li>
        </ul>
        <div>
          <b>5. CÁCH THỨC ĐĂNG KÝ: </b>Vui lòng liên hệ Hotline hoặc gửi email về địa chỉ contact@proman.com.vn.
        </div>
        <div>
          <b>6. THÔNG BÁO KẾT QUẢ VÀ TRAO THƯỞNG: </b>Bảng xếp hạng sẽ được cập nhật mỗi ngày tại trang web. Phần thưởng sẽ được công bố vào ngày 20/12/2020.
        </div>
        <div>
          <b>7. TỔ CHỨC THỰC HIỆN: </b>Cuộc thi thời trang có hiệu lực từ ngày công bố và được đăng tải trên các phương tiện thông tin đại chúng. Việc sửa đổi, điều chỉnh nội dung Thể lệ chỉ được thực hiện khi có sự đồng ý bằng văn bản của Ban Tổ chức Cuộc thi./..
        </div>
        <section class="footer-group">
              <h5 class="mt-20 text-center">Hotline: 19006798</h5>
              <h5 class="mt-20 text-center">Email: contact@proman.com.vn</h5>
        </section>   
      </div>
      </div>
    </div>
</div>
  <%- include('layouts/footer.ejs') %>