<%- include('layouts/header.ejs') %>

<title>Đăng nhập</title>
</head>

<body id="login-page">

    <div class="form-box">
        <div class="form-logo">
            <p class="text-center"><img src="img/proman-logo.png" alt="logo" ></p>
        </div>
        <form action="/login" method="POST">
            <input type="text" class="form-control" placeholder="Tài khoản" name="username">
            <input type="password" class="form-control" placeholder="Mật khẩu" name="password">
            <input type="checkbox"> Lưu mật khẩu
            <input type="submit" class="btn btn-social" value="ĐĂNG NHẬP">
            <a href="#" class="login-action" title="Forgot password">
                <p>Quên mật khẩu?</p>
            </a>
            <!-- <a href="#" class="login-action" title="Sign in">
                <p>Tạo tài khoản thì zô đây nhen?</p>
            </a> -->
            <div class="text-danger"><%= error %></div>
        </form>

    </div>
    <!--Close form-box-->

    <%- include('layouts/footer.ejs') %>