<%- include('layouts/header.ejs') %>

<title>Notifications</title>
</head>

<body>
  <%- include('layouts/nav.ejs') %>
  <!-- Profile Content -->
  <div class="content-posts profile-content">
    <div class="banner-profile">
    </div>

    <div id="posts-container" class="container-fluid container-posts">
      <div class="card-post">
        <h3 class="text-center">Tất cả thông báo</h3>
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bình luận mới</h5>
              <p class="card-text">My vừa bình luận trên bài viết của bạn.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bình luận mới</h5>
              <p class="card-text">Hoàng vừa bình luận trên bài viết của bạn.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bình luận mới</h5>
              <p class="card-text">Bạn Khánh vừa bình luận trên bài viết của bạn.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Close content posts-->

    <!-- Modal container for settings--->
    <div id="settingsmodal" class="modal fade text-center">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>