<!--Header with Nav -->
<header class="text-right">
    <form class="text-left search" method="GET">
        <input name="search" type="text" placeholder="Tìm kiếm..">
    </form>
    <div class="menu-icon">
        <div class="dropdown">
            <span class="dropdown-toggle" role="button" id="dropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="hidden-xs hidden-sm"></span> <i class="fa fa-cogs" aria-hidden="true"></i>
            </span>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSettings">
                <li>
                    <a href="#" title="Settings" data-toggle="modal" data-target="#settingsmodal">
                        <div class="col-xs-4">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-8 text-left">
                            <span>Cài đặt</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" title="Language" data-toggle="modal" data-target="#settingsmodal">
                        <div class="col-xs-4">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-8 text-left">
                            <span>Ngôn ngữ</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" title="Settings">
                        <div class="col-xs-4">
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-8 text-left">
                            <span>Thắc mắc</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" title="Settings">
                        <div class="col-xs-4">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-8 text-left">
                            <span>Đăng xuất</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="second-icon dropdown menu-icon">
        <span class="dropdown-toggle" role="button" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="hidden-xs hidden-sm"></span> <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge">2</span>
        </span>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownNotification">
            <li class="new-not">
                <a href="#" title="User name comment"><img src="img/user2.jpg" alt="User name" class="img-circle img-user-mini"> User comments your post</a>
            </li>
            <li class="new-not">
                <a href="#" title="User name comment"><img src="img/user3.jpg" alt="User name" class="img-circle img-user-mini"> User comments your post</a>
            </li>
            <li>
                <a href="#" title="User name comment"><img src="img/user4.jpg" alt="User name" class="img-circle img-user-mini"> User comments your post</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="#" title="All notifications">Thông báo</a></li>
        </ul>
    </div>
    <div class="second-icon menu-icon">
        <span><a href="/ranking" title="Ranking"><span class="hidden-xs hidden-sm">Xếp hạng</span> <i class="fa fa-trophy" aria-hidden="true"></i></a>
        </span>
    </div>
    <div class="second-icon menu-icon">
        <span><a href="/contest" title="Contest"><span class="hidden-xs hidden-sm">Thể lệ</span> <i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
        </span>
    </div>
    <div class="second-icon menu-icon">
        <span><a href="https://www.zara.com/" target="_blank" title="Home"><span class="hidden-xs hidden-sm">Zara</span> <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </span>
    </div>
    <div class="second-icon menu-icon">
        <span><a href="/profile" title="Profile"><span class="hidden-xs hidden-sm">Cá nhân</span> <i class="fa fa-user" aria-hidden="true"></i></a>
        </span>
    </div>
    <div class="second-icon menu-icon">
        <span><a href="/" title="Home"><span class="hidden-xs hidden-sm"></span> <i class="fa fa-home" aria-hidden="true"></i></a>
        </span>
    </div>
</header>